In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
import scipy.io

from sklearn.cluster import KMeans

In [2]:
data = pd.read_csv('data/NYU_sleep_df.csv', index_col = 0)

In [7]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,125,126,127,128,129,130,131,time,time_cos,ampm
0,0,1,0,1,1,1,1,1,1,1,...,1,0,1,0,0,0,1,0.000000,1.000000,0
1,0,1,0,1,0,1,1,1,1,1,...,1,0,1,0,0,0,1,0.166667,0.999048,0
2,0,1,0,0,0,1,0,1,1,1,...,1,0,1,1,0,0,1,0.333333,0.996195,0
3,0,1,0,0,0,1,0,1,1,0,...,1,0,1,1,0,0,1,0.500000,0.991445,0
4,0,1,0,1,0,0,0,1,1,0,...,1,0,1,1,0,0,1,0.666667,0.984808,0

In [14]:
data.iloc[0]

0           0.0
1           1.0
2           0.0
3           1.0
4           1.0
           ...
130         0.0
131         1.0
time        0.0
time_cos    1.0
ampm        0.0
Name: 0, Length: 135, dtype: float64

In [ ]:
kmeans = KMeans(n_clusters = 10)